{
  "presets": [["@babel/env", { "targets": ["last 2 versions"] }]],
  "plugins": ["@babel/plugin-transform-classes", "@babel/syntax-dynamic-import", "@babel/proposal-optional-chaining", "@babel/proposal-nullish-coalescing-operator"]
}
